# Package Files #
*.jar

# IntelliJ project files
.idea
out
gen### Gradle template
.gradle
build/

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
groovydemo.ipr
groovydemo.iws
